@{
    ViewData["Title"] = "Admin - Dashboard";
}

<h2>Dashboard Amministratore</h2>

<a asp-action="ManageProducts" class="btn btn-primary">Gestione Prodotti</a>
<a asp-action="ManageOrders" class="btn btn-primary">Gestione Ordini</a>
